


.settings{
    display: flex;
}
.settingsContainer{
    flex:9;
    padding:23px;
}
.settingsUpdateTitle{
    font-size:3rem;
    padding:5px;
    margin: 20px 0px;
}
.settingsDeleteTitle{
    color:red;
    text-transform: uppercase;
    font-size:20px;
}
.settingsTitle{
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.settingsProfilePic img{
    width: 80px;
    height:80px;
    object-fit: cover;
}

#fileInput{
    display: none;
}


.settingsForm{
    display: flex;
    flex-direction: column;
}
.settingsProfilePic{
    display: flex;
    align-items: center;
    margin:30px 5px;
}

.settingsProfileIcon{
    width: 60px;
    height: 60px;
    font-size:1.5rem;
    color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left:15px;
    cursor: pointer;
}


.settingsForm > label{
    font-size:20px;
    margin-top: 25px;
}


.settingsForm > input{
    padding:20px;
    margin:10px 2px;
    border:none;
    border-bottom: 1px solid black;
}


.settingsSubmit{
    width: 150px;
    align-self: center;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    padding:20px;
    background-color: red;
    color: white;

}