.posts {
  flex: 9;
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
}

@media screen and (max-width: 426px) {
  .posts {
    flex: 1;
    margin: 30px 5px 0px 0px;

   
  }
  .posts-wrapper {
    width: 360px;
     align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (max-width: 321px) {
  .posts {
    flex: 1;
    margin: 30px 5px 0px 0px;
  }
  .posts-wrapper {
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
