.singlepost{
    flex:9;
    font-family: var(--secondary-font);
}


.singlepost-container{
    padding:15px;
    padding-right: 0;
}




.singlepostImg{
    width:90%;
    height:300px;
    border-radius: 10px;
    object-fit: cover;
}

.singlepostTitle{
    text-align: center;
    margin: 10px;
    font-size:1.7rem;
}


.singlepostEdit{
    float: right;
    font-size:25px;
}

.singlepostIcons{
    cursor: pointer;
    margin-left:10px;
}


.singlepostInfo{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    font-size:18px;
}


.singlepostDesc{
    line-height: 20px;
    font-size:16px;
}

.singlepostDesc::first-letter{
    margin-left:25px;
    font-weight:800;
    font-size:2rem;
}


